<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
  <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>EgReader.com| Welcome</title>
    <link rel="stylesheet" href="./css/style.css">
    
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">EgReader.com</span> </h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Read Unlimited Books Online</h1>
        <p> Here are all the books we have available arranged by title.All these books you can read now in our eg-reader!! catch up on your reading list,expand your horizon or  just spend a relaxing evening by yourself.</p>
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>

    <section id="boxes">
      <div class="container">
          <% for(var i=0; i<books.length; i++) { %>
          <div class="box">
          <a href="/books/<%=books[i]._id %>"><img src=<%= books[i].img %>></a>
          <h3><%= books[i].name %></h3>
          <h4><%= books[i].auth_name %></h4>
         
        </div>
  
    
       <% } %>
          </div>
    </section>

    <footer>
      <p>EgReader.com, Copyright &copy; 2017</p>
    </footer>
  </body>
</html>
