<html>
    <head>
        <title>Books  </title> 
      <body>
        <center>  <h1> Books  </h1> 
          <% console.log(request.book) %>
          <h2> Name: <%= request.book.name %> </h2>
           <h4>  <img src=<%= request.book.img %> width="300" height="400" ></h4>
           <h4> Author Name: <%= request.book.auth_name %> </h4>
           <h4> Description: <%= request.book.description %> </h4>
           
              <form action="http://fac.ksu.edu.sa/sites/default/files/ObjectOrientedProgramminginC4thEdition.pdf">
    <input type="submit" value="Read" />
            </form>
             <button id="submit">Download</button>
           
             
          </center>
             
             </body>  
        
    </head>
    
    
    
</html>