<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable All Category Book Reading">
	  <meta name="keywords" content="Read Online, Save and Download, Unlimited Books">
  	<meta name="author" content="Brad Traversy">
    <title>EgReader.com| About</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">EgReader.com</span> Read Online Nonstop</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li class="current"><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/login">Login</a></li>
            </ul>
        </nav>
      </div>
    </header>

    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        <form>
          <input type="email" placeholder="Enter Email...">
          <button type="submit" class="button_1">Subscribe</button>
        </form>
      </div>
    </section>

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">About Us</h1>
          <p>
            We believe that a reader has to learn only as much technology as it's needed to fully enjoy the magic of reading.The biggest pleasure comes from what we read not from on what we read.There are many sites you can read book,but our sites that offer you high quality book.The sites offers you a huge variety of books with great reviews.you can read and download the book from this site and can enjoy your reading.
          </p>
          <p class="dark">
 "BOOKS ARE UNIQUELY A PORTABLE MAGIC"
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>What We Do</h3>
            <p>EgReader is committed to bringing you a wide selection of the best books available ,all in an easy to read format.</p>
          </div>
        </aside>
      </div>
    </section>

    <footer>
      <p>EgReader.com, Copyright &copy; 2017</p>
    </footer>
  </body>
</html>
