<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>EgReader.com| Services</title>
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">EgReader.com</span> Read Online Nonstop</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="current"><a href="services.html">Services</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="newsletter">
      <div class="container">
        <h1>Subscribe To Our Newsletter</h1>
        
      </div>
    </section>

    <section id="main">
      <div class="container">
        

        <aside id="sidebar">
          <div class="dark">
            <h3>Login: </h3>
            <div class="quote">
  						<div>
  							<label>User Email</label><br>
  							<input id="email" type="text" placeholder="Email">
  						</div>
  						<div>
  							<label>Password</label><br>
  							<input id="password" type="password" placeholder="Password">
  						</div>
  						<div>
              </br>
  						<button id="submit" class="button_1" type="submit">Login</button>
              <button id="signup" class="button_1" type="submit">Sign up</button>
					</div>
          </div>
          <br/>
    <div id="error"></div>
        </aside>
      </div>
    </section>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
    <footer>
      <p>EgReader.com, Copyright &copy; 2017</p>
    </footer>
  </body>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/ejs_production.js"></script>
  <script>
  var user = {};
    $("#email").change(function(event){
      user.email=$("#email").val();
    });
    $("#password").change(function(event){
      user.password=$("#password").val();
    });
    $("#submit").click(function(event){
      console.log(user);
      $.ajax({
        method: 'POST',
        url: "/auth/signin",
        data: user
      }).done(function(response){
        console.log(response);
        window.location.replace('/');
      }).fail(function(response){
        console.log(response);
        $("#error").text("Something went wrong! Try again.");
      });
    });
      $("#signup").click(function(event){
 window.location.replace('/signup');
      
    });
  </script>
</html>
